@import "tailwindcss";

@theme inline {
  --color-brand: #C50606;
  --color-brand-dark: #9e0505;
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-muted: #a1a1aa;
  --color-card: #18181b;
  --color-border: #27272a;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

::selection {
  background: var(--color-brand);
  color: white;
}
